@tailwind base;
@tailwind components;
@tailwind utilities;


    body {
        @apply font-Inter;
        display: absolute;
        overflow: hidden !important;
      }

      

    h1 {
      @apply text-8xl !important;
      @apply font-normal !important;
      @apply text-white;
    }
    h2 {
      @apply md:text-4xl !important;
      @apply text-3xl !important;
      @apply text-white;
      @apply font-normal !important;
    }

    h3 {
      @apply md:text-xl !important;
      @apply text-sm ;
      @apply font-extralight !important;
      @apply text-white;
    }

    p{
      @apply m-0 !important;
      @apply text-white;
      @apply text-lg;
      @apply font-extralight !important;
    }
    button {
      @apply relative overflow-hidden;
      @apply rounded-full !important;
      @apply text-2xl !important;
      @apply text-white !important;
      @apply font-light !important;
      @apply px-28 !important;
      @apply py-1 !important;
      @apply bg-gradient-to-r from-[#fdfdfd89] to-[#ffffff31] !important;
    }
    
    button:before {
      content: "";
      @apply absolute right-0 top-0 h-full w-6 rotate-6 bg-[#FFFFFFB3] opacity-10;
      animation: slide 2s infinite;
      transform: translateX(3rem)  ;
    }
    
    @keyframes slide {
      0% {
        transform: translateX(3rem)  ;
      }
      100% {
        transform: translateX(-20rem)  skewX(-20deg);
      }
    }

    @media (max-width: 600px) {
      h1 {
        @apply text-6xl !important;
        /* @apply text-white; */
      }
    }

    .result-main-txt{
      font-weight: 600 !important;
    }


    .text-gradient-main {
      background: linear-gradient(270deg, #ffffff,#fafafa, #0017459c, #d3d3d3a8, #fafafa, #ffffff);
      background-size: 500% 500%;
      animation: gradient 5s ease-in-out infinite;
    }

    .text-gradient-result {
      background: linear-gradient(270deg, #ffffff,#ffffff,#87dfff, #02ffee9c, #feb4eda8, #87dfff, #ffffff,#ffffff);
      background-size: 500% 500%;
      animation: gradient 5s ease-in-out infinite;
    }
    
    @keyframes gradient {
      0% {
        background-position: 0% 0%;
      }
      100% {
        background-position: 100% 100%;
      }
    }

    
  /* @layer utilities {
    .gradient-text {
      @apply bg-gradient-to-r from-red to-blue;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  } */

/* 
.bg-main {
    background-image: url('public/images/bg-main.png');
    background-size: cover;
    background-repeat: no-repeat;
  } */

  
body {
  background-image: url('/images/bg-main.png') !important;
  background-size: cover;
  background-repeat: no-repeat;

}

.star-section{
  overflow: hidden;
  position: relative;
}

  span{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    animation:  animate 3s linear infinite;
    
}
span::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}



@keyframes animate {
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;

    }
    100%
    {
        transform: rotate(315deg) translateX(-2500px);
        opacity: 0;

    }
    
}
span:nth-child(1){
    top: 0;
    right: 80%;
    left:initial;                                                         
    animation-delay:0 ;
    animation-duration: 4s;
  }

  span:nth-child(2){
      top: 0;
      right: 20%;
      left:initial;
      animation-delay:5s;
      animation-duration: 4s;
  }



