name: Ping Ods API Daily

on:
  schedule:
    - cron: '39 8 * * *' # Runs every day at 8:39 AM UTC
    - cron: '39 20 * * *' # Runs every day at 8:39 PM UTC
  workflow_dispatch: # Manual trigger option 

jobs:
  ping_supabase:
    runs-on: ubuntu-latest

    steps:
      - name: Send request to Ods API
        run: |
          curl -X GET "${{ secrets.VITE_SUPABASE_URL }}/rest/v1/results" \
          -H "apikey: ${{ secrets.VITE_SUPABASE_ANON_KEY }}" \
          -H "Authorization: Bearer ${{ secrets.VITE_SUPABASE_ANON_KEY }}"